@import "variables.scss";
body{
	text-align: center;
    background-size: cover;
    background: $grey;
    color: $text-color;
	font: 14px/16px 'Raleway', sans-serif;
    color: $text-color;
    font-family: 'Raleway', sans-serif;
}
.content{
    display: inline-block;
    max-width: 90%;
    min-width: 320px;
    line-height: 24px;
    text-align: justify;
    padding: 20px 15px;
}
.elem{
	background: #fff;
	max-width: 875px;		
}				
.main-room-section{
	max-height: 265px;
   	font-size: 0;
    position: relative;
    -webkit-border-bottom: 1px solid $border-grey;
    -moz-border-bottom: 1px solid $border-grey;
    -ms-border-bottom: 1px solid $border-grey;
    -o-border-bottom: 1px solid $border-grey;
    border-bottom: 1px solid $border-grey;
    vertical-align: top;
    .photo-slider{
    	display: inline-block;				
		max-width: 285px;
		max-height: 265px;
		position: relative;
		img{
			max-width: 285px;
			max-height: 265px;
			box-shadow: none;
			transition: 0.6s;
			cursor: pointer;
			&:hover{
				-webkit-box-shadow: 2px 2px 7px 0px rgba(53,135,224,1);
				-moz-box-shadow: 2px 2px 7px 0px rgba(53,135,224,1);
				box-shadow: 2px 2px 7px 0px rgba(53,135,224,1);
			}
		}
		.slider-header{
			position: absolute;
			top: 0;
			left: 0;
			padding: 13px 14px;

			h1{
				color: #fff;
				font-family: $font-secondary;
				font-weight: $fw-bold;
				font-size: 24px;
			}
			h3{
				color: #fff;
				font-family: $font-secondary;
				font-weight: $fw-medium;
				margin-top: 4px;
				font-size: 18px;
			}
			a{	
				position: absolute;
				top: 68px;
				left: -5px;
				background: #fab91c;
				padding: 6px 24px 6px 18px;
				border-radius: 3px;
				color: #fff;
				font-family: "Roboto", sans-serif;
				font-weight: 700;
				font-size: 16px;
			}						
		}
		.photo-quantity{
			position: absolute;
			bottom: 5px;
			right: 10px;
			color: #fff;
			font-size: 14px;
			font-family: $font-main;
			font-weight: bold;
		}
	}
	.features{
		position: relative;
		display: inline-block;
		width: calc(100% - 285px);
		vertical-align: top;
		padding: 14px 20px;
	}
	.features-container{
		vertical-align: top;
		display: inline-block;
		width: 67%;
		@import "features.scss";
	}
}
//* More button styles */

.more-button{
	color: $blue;
	font-size: 16px;    
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: 0.4px;
	transition: .4s;
	text-shadow: 0 0 0 rgba(0, 0,0, 0);
	&:hover{
		color: $blue;
		text-shadow: 2px 2px 3px rgba(53, 135, 224, 0.54);
	}
}
.settings-more-button{   
	display: block;
	text-align: center;
}
/* swimming poll block styles */
.swimming-pool{
	display: inline-block;
	position: absolute;	
	padding: 5px 20px 5px 10px;
	left: 0;
	bottom: -3px;	
	-moz-border-radius: 0px 4px 0px 4px;
	-webkit-border-radius: 0px 4px 0px 4px;
	border-radius: 0px 4px 0px 4px;
	box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
	transition: .5s;
	background: $blue;
	color: #fff;
	cursor: pointer;
	&::before{
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle
	}
	&:hover{
		-webkit-box-shadow: 2px -2px 7px 0px rgba(239,245,57,1);
		-moz-box-shadow: 2px -2px 7px 0px rgba(239,245,57,1);
		box-shadow: 2px -2px 7px 0px rgba(239,245,57,1);
	}
	img, span{
		display: inline-block;
		vertical-align: middle;
	}
	span{
		font-family: $font-main;
		font-size: 12px;
		margin-left: 8px;
		font-weight: 400;
	}
}

/* Offers section styles*/
.offers-section{
	padding: 10px;
    position: relative;
	.offers-section-header{
		font-size: 12px;
		font-weight: 500;
		margin: 0 0 10px 3px;
	}	
}
@import "ofers.scss";

.more-rates-button{
    display: block;
    padding: 15px;
	text-align: center;
}

@import "media-queries.scss";