@import "fonts";
@import "vars";
html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: $main_bg;
}
h1, h2, h3{
	font-family: "Roboto", sans-serif;
}
.main {
	flex: 1 0 auto;
}







