@import "common/vars";

.feedback_item{
  position: relative;

  padding: 30px;
  background-color: $white;
  margin-bottom: 15px;
}
.feedback_item_title{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 100;
}
.feedback_item_photo{
  max-width: 100%;
  margin-bottom: 25px;
}
.feedback_item_text{
  font-size: 13px;
}

@media (max-width: 992px) {
  .feedback_item_title{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .feedback_item_marker{
    top: 30px;
    padding: 10px 20px;
    font-size: 13px;
  }
}
@media (max-width: 768px) {

  .feedback_item_marker{
    top: 25px;
    right: 0;
  }
}