@import "common/vars";

.main_container{
  padding-top: 70px;
  background-color: $main_bg;
  display: flex;
  flex-direction: column;
}

.main{
  position: relative;
  background-color: $main_bg;
  padding: 20px 95px 15px 80px;
  display: flex;
}


@media (max-width: 1400px) {
  main{
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  main{
    max-width: 970px;
    padding: 20px;
  }
}
@media (max-width: 992px) {
  main{
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .main_container{
    padding-top: 50px;
  }
  .main{
    flex-direction: column;
    padding: 20px ;
  }
  .menu{
    margin-right: 50px;
    .bar{
      width: 40px;
    }
  }

}