@import "common/vars";

.main_container{
  padding-top: 70px;
  background-color: $main_bg;
  display: flex;
  flex-direction: column;
}
.main{
  position: relative;
  background-color: $main_bg;
  padding: 20px 95px 15px 80px;
  display: flex;
}

@media (max-width: 1400px) {
  .main{
    margin: 0 auto;
    padding: 40px;
  }
}
@media (max-width: 1200px) {
  .main{
    padding: 30px;
  }
}
@media (max-width: 992px) {
  .main{
    padding: 20px;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .main_container{
    padding-top: 50px;
  }

  .menu{
    margin-right: 50px;
    .bar{
      width: 40px;
    }
  }
}