@import "vars";
//side navigation menu
.content_block_nav{
  max-width: 270px;
  padding: 0 23px 0 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;

  .nav_link{
    padding: 28px 10px;
    width: 175px;
    margin-bottom: 13px;
    position: relative;

    text-align: center;
    border-radius: 5px;
    color: $text_white;
    background-color: $gold;
    text-transform: uppercase;
    transition: .3s ease;

    svg{
      position: absolute;
      width: 115%;
      top: 0 ;
      left: 0;
      visibility: hidden;
    }
    &:hover{
      background-color: transparent;
      color: $gold;
      svg{
        visibility: visible;
      }
    }
  }
  .nav_link_active{
    background-color: transparent;
    color: $gold;
    svg{
      visibility: visible;
    }
  }
}
@media (max-width: 1200px) {

  .content_block_nav {
    width: 120px;
    padding: 0 5px 0 0;
    .nav_link {
      padding: 10px;
      width: auto;
      max-width: 120px;;
      font-size: 12px;
      white-space: nowrap;

      svg {
        width: 105%;
        top: 0 ;
      }
    }
  }
}

@media (max-width: 768px) {
  .content_block{
    margin-top: 40px;
    .content_block_nav {
      width: auto;
      padding: 0 5px 0 0;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 10;
    }
    .nav_link {
      font-size: 10px;
      svg {
        width: 105%;
        top: 1px ;
      }
    }
  }
}