@import "vars";
@import "fonts";

.top_section{
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  .binding{
    width: 90px ;
    box-sizing: content-box;
    min-height: 100vh;
    background-color: $binding;

    .container{
      writing-mode: tb-rl;
      transform: rotate(180deg);

      display: flex;
      flex-direction: row;

      background-color: $binding;
      font-size: $font_size_h3;
      text-transform: uppercase;
      white-space: nowrap;
      color: $gold;
      font-family: "Roboto Regular" sans-serif;
      font-weight:400;

      span{
        padding-bottom: 70px;
        padding-right: 45px;
      }
      &:after{
          // single line before title
          content: '1';
          color: transparent;
          border-top: 6px solid $gold;
      }

      &:before{
        // two lines after title
        content: '1';
        color: transparent;
        position: relative;
        top: -50%;
        height: 20px;
        font-size: 8px;
        border-top: 6px solid $gold;
        border-bottom: 6px solid $gold;
      }

      img{
        transform: rotate(180deg);
      }
      span{
        padding-right: 45px;
      }
    }
  }
}

@media (max-width: 768px) {
  .top_section{
    .binding {
      width: 40px;
      .container{
        font-size: 13px;

        &:after{
          // single line before title
          content: '1';
          font-size: 34px;
          color: transparent;
          border-top: 3px solid $gold;
        }
        &:before{
          // single line after title
          border-top: 3px solid $gold;
          border-bottom: 3px solid $gold;
          height: 10px;
        }
        img{
          max-width: none;
          height: 25px;
        }
        span{
          padding-right: 20px;
        }
      }

    }
  }

}