
@font-face{
	font-family: 'RC-b';	
	src: url('../fonts/roboto/RobotoCondensed-Bold.ttf');	
	font-weight: normal;	
	font-style: bold;	
}
@font-face{
	font-family: 'RC-r';	
	src: url('../fonts/roboto/RobotoCondensed-Regular.ttf');	
	font-weight: normal;	
	font-style: normal;	
}
@font-face{
	font-family: 'RC-l';	
	src: url('../fonts/roboto/RobotoCondensed-Light.ttf');	
	font-weight: normal;	
	font-style: normal;	
}
@font-face{
	font-family: 'RC-i';	
	src: url('../fonts/roboto/RobotoCondensed-Italic.ttf');	
	font-weight: normal;	
	font-style: italic;	
}