$orange: #ff9b6d;
$yellow: #ebb240;
$grey: #e9eae2;
$md-grey: #cecece;
$dark-grey: #dfe0d9;
$white: #fff;
$dark-white: #eaeaea;
$md-white: #e9eae4;
$black: #333333;
$green: #d4edbf;
$blue: #7acec3;
$red: #fd5000;
$light-green: #e5e9df;