/* About section */

@import "variables.scss";

.about {
  //padding-bottom: 0;
}
.section-text{
  display: inline-block;
  max-width: 55%;
}
.about-items-container{
  margin-top: 50px;
  padding: 60px 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-item{
  background: $blue;
  border: 1px solid $grey;
  max-width: 340px;
  padding: 80px 10px;
  position: relative;
  h3{
    font-family: $Notica;
    font-weight: 700;
    font-size: 20px;
  }
  .section-gutter{
    &:before{
      left: 0;
      bottom: 12px;
    }
    &:after{
      display: none;
    }
  }
}
.about-img{
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
}
.about-item-text{
  font-size: 18px;
}

