//fonts
$Notica: 'Noticia Text', serif;
$Quattro: 'Quattrocento Sans', sans-serif;
//colors
$black: #212121;
$black-md: #303030;
$brown: #995437;
$blue: #f0f0f0;
$grey: #7f7f7f;
$md-grey: #bfbfbf;
$white: #ffffff;
$orange: #86746c;
$red: #6e331a;