$default-font: "roboto-example", sans-serif;


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);





$gutter: $grid-gutter-width;

// Color
$grey: #5C6363;
$grey-light: #EEEFEF;
$black: #252525;
$white: #FDFBFB;
$blue: #32B0AB;
$red: #FF715B;
// Sizes
$section-padding: 50px;
$section-padding-small: 25px;
$fz: 16px;
