@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $black;
	background: $grey-light;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
	section{
        position: relative;
        z-index: 1;
		padding: $section-padding;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
ul, li, a{
	text-decoration: none;
	color: $black;
	list-style: none;
}

// Main screen styles

header{
	background: $grey;
	padding: $section-padding-small;
	color: $black;
	display: block;
	width: 100%;
	border-bottom: 2px solid $red;
}
.header-container{
	align-content: center;
	color: $white;
    .logo{
      a{
        color: $white;
        text-decoration: none;
        padding: 6px;

      }

    }
}
.logo{
	font-size: 34px;
	line-height: 45px;
	font-family: 'laila-bold', sans-serif;
	cursor: pointer;
}

// Main menu styles

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  position: relative;
  a {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: $white;
    text-decoration: none;
    transition: all 0.65s;
  }

  &:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
  }

  &:hover a {
    color: $red;

  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}



//Burger menu
.burger{
  position: fixed;
  top: -100%;
  right: 15px;
  padding: 0 15px;
  height: 50px;
  display: none;
  justify-content: center;
  align-content: center;
  transition: .5s;
  width: auto;
  z-index: 100;

  .burger-container{
    background: darken($grey-light, 5 );
    box-shadow: 0px 1px 4px 0 $grey;
    padding: 15px;
    border-radius: 50px;
    width: 50px;
  }
  //Fixed menu styles
  .burger-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    transform-origin: right;
    transform: scale(0) translateX(0%);
    transition: .4s;
    padding: 10px;
    background: darken($grey-light, 5 );
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    .nav-link{
      text-decoration: none;
      color: $grey;
      margin-right: 10px;
      &:hover{
        color: $red;
        text-decoration: underline;
      }
    }
  }
  .burger-nav-active{
    padding-right: 20px;
    transform: scale(.98) translateX(30px);
  }
  // Burger button styles
  .visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }
  h1 {
    text-align: center;
  }
  .container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .hamburger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-left: -5px;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    background: darken($grey-light, 5 );
  }
  .hamburger .bar {
    padding: 0;
    width: 30px;
    height: 3px;
    background-color: $red;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
  }
  .bar1 {
    top: 0;
  }
  .bar2,
  .bar3 {
    top: 13.5px;
  }
  .bar3 {
    right: 0;
  }
  .bar4 {
    bottom: 0;
  }
    .checkbox2:checked + label > .hamburger2 > .bar1{
    transform: translateX(40px);
    background-color: transparent;
  }

  .checkbox2:checked + label > .hamburger2 > .bar2{
    transform: rotate(45deg);
  }

  .checkbox2:checked + label > .hamburger2 > .bar3{
    transform: rotate(-45deg);
  }

  .checkbox2:checked + label > .hamburger2 > .bar4{
    transform: translateX(-40px);
    background-color: transparent;
  }
}

@import "section__hi";
@import "section__info";
@import "section__portfolio";
@import "section__contact";

@import "media"; // Always at the end
