@media only screen and (max-width: 920px) {
	/*body */
	h1{
		font-size: 1.8rem;
		line-height: 2.1rem;
	}
	h2{
		font-size: 1.3rem;
		line-height: 1.6rem
	}
	/* about block */
	.about{
	padding-bottom: 0}
}
	/* tour prise */

	.sub_prise span {    
   	margin: 0px;
   	position: absolute;
    top: 2.2rem;
    left: 0.5rem;
}

	/*weather block */

	.day i, .day span {
    font-size: 0.9rem;
    text-transform: capitalize;

}

@media only screen and (max-width: 860px) {
	.final_word{
		width: 100%;
		font-size: 0.8rem;
		margin-top: -7px;
	}
	.sub_prise span {
		margin: 0px;
		position: absolute;
		top: 1.2rem;
		left: 0.5rem;
	}
}	
@media only screen and (max-width: 768px) {

	/* top section */
	.main_menu ul{
		position:fixed;
		left: -41%;
		top: 10%;
		width: 38%;
		flex-direction: column;
		justify-content: left;
		margin-left: 15px;
	}
	.menu_list li{
		margin-top: 15px;
		max-height: auto;
		background-image: url(../img/panel-box-noise-bg.png);
    	box-shadow: 0 1px 3px rgba(30, 50, 70, 0.3), inset 0 0 1px rgba(255, 255, 255, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.12);
	}
	.menu_list li a{
		line-height: 60px;
		height: auto;
	}
	.menu_list li:first-child{
		display: block;
	}
	.hidden_menu_button{
		display: inline-block;
		left: 5%;
		opacity: 1;
	}
	.left_coll{
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.right_coll h2{
		margin-bottom: 20px;
	}
	.left_coll, .right_coll{
		display: block;
		width: 100%;
		float: none;
	}
	.icon_calendar,.calendar,.room_finder_container{
		display: block;
		width: 100%;
	}
	.input_container i:before {
		left: 10px;
	}
	.form_row:nth-child(5){
		margin-bottom: 70px;
	}

	/*middle section */
	
	.content{
		display: block;
		width: 100%;
	}
	aside{
		display: block;
		position: static;
		width: 100%;
	}
	.tour{
		width: 100%;
	}
	.sub_prise span{
		display: inline-block;
		position: relative;
		top: 0.4rem;
    	left: 0.5rem;
	}

	/* tour styles */

	.signUp{
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 480px) {
	.main_menu ul {
   		 margin-left: 7px;
   	}
 }