@import "variables.scss";

/* room features section */
.features{					
	padding: 15px 0 0 20px;
	font-size: 14px;
	cursor: pointer;
}
.room-settings{
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	-webkit-border-bottom: 1px solid $border-grey;
	-moz-border-bottom: 1px solid $border-grey;
	-ms-border-bottom: 1px solid $border-grey;
	-o-border-bottom: 1px solid $border-grey;
	border-bottom: 1px solid $border-grey;
}
.features-header{
	font-size: 16px;
	font-weight: 700;
}
.settings-list{
	display: inline-block;
	width: 100%;
	.setting-item{
		display: inline-block;
		position: relative;
		width: 49.5%;
		height: 38px;
		padding: 5px 0 5px 3px;
		vertical-align: top;
		line-height: 1rem;
		&::before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
		/* Room setting icons */
		img, span{
			display: inline-block;
			vertical-align: middle;
		}
		span{
			max-width: 60%;
			margin-left: 15px;
		}
		img{
			margin-left: 3px;
		}
		sup{
			display: inline-block;
			position: absolute;
			font-size: 8px;
			top: 5px;
		}
	}							
}

.room-settings:nth-child(2){		
	-webkit-border-bottom: none;
	-moz-border-bottom: none;
	-ms-border-bottom: none;
	-o-border-bottom: none;
	border-bottom: none;
}

