$blue: #3587e0;
$green: #42be56;
$orange: #fab91c;
$grey: #f4f4f4;
$sky: #eaf3fc;
$font-main: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$fw-bold: 700;
$fw-regular: 500;
$fw-medium: 400;
$fw-light: 300;
$text-color: #333;
$border-grey: #ebebeb;