@import "../common/vars";

.book_item{
  position: relative;

  padding: 110px 40px 40px 40px;
  margin-bottom: 15px;
  background: $white;
  font-family: "MyriadHebrew-Regular", sans-serif;
}
@media (max-width: 992px) {
  .book_item{
    padding: 80px 30px;
  }
}
@media (max-width: 768px) {
  .book_item{
    padding: 60px 20px;
  }
}
@media (max-width: 425px) {
  .book_item{
    padding: 50px 20px;

  }
}