@import "../common/vars";

//side navigation menu
.content_block_nav{
  padding: 0 20px 0 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;

}

.nav_link{
  padding: 25px 10px;
  margin-bottom: 13px;
  position: relative;

  text-align: center;
  border-radius: 5px;
  background-color: $gold;
  color: $text_white;
  white-space: nowrap;
  text-transform: uppercase;
  transition: .3s ease;

  svg{
    position: absolute;
    width: 115%;
    //height: 100%;
    top: 3px ;
    left: 0;
    visibility: hidden;
  }
  &:hover{
    background-color: transparent;
    color: $gold;
    svg{
      visibility: visible;
    }
  }
}
.nav_link_active{
  background-color: transparent;
  color: $gold;
  svg{
    visibility: visible;
  }
}

@media (max-width: 1200px) {
  .content_block_nav {
    padding: 0 5px 0 0;
    .nav_link {
      padding: 10px;
      width: auto;
      font-size: 12px;
      white-space: nowrap;

      svg {
        width: 105%;
        top: -4px;
      }
    }
  }
}
@media (max-width: 768px) {
    .content_block_nav {
      padding: 0 5px 0 0;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 10;
    }
    .nav_link {
      font-size: 10px;
      svg {
        position: absolute;
        width: 115%;
        height: auto;
      }
    }

}