.top-section {
  padding: 0; }

header {
  height: 100px;
  padding: 20px 0;
  border-bottom: 1px solid #bfbfbf; }
  header .wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between; }
  header .fa {
    color: #995437;
    padding: 15px;
    font-size: 22px; }

.header_block {
  display: inline-flex;
  align-items: center;
  text-align: left;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 20px; }
  .header_block:last-child {
    text-align: right; }
  .header_block:nth-child(2), .header_block:nth-child(3) {
    flex: 3; }
  .header_block:first-child, .header_block:nth-child(4), .header_block:last-child {
    flex: 2; }

.working_hours-text span {
  display: block; }

/* search block */
.form_container {
  margin: 0 20px;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  vertical-align: middle; }

.form_container form {
  display: inline-block;
  position: relative;
  height: 100%;
  white-space: nowrap; }
  .form_container form .fa-search {
    position: relative;
    top: 50%;
    right: 0%;
    padding: 2px;
    background-position: center;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateY(-50%); }

.search {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  line-height: normal;
  width: 0px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  cursor: pointer; }

.search.active {
  width: 120px !important;
  z-index: 2;
  padding-left: 16px;
  margin-right: 5px;
  border-bottom: 1px solid #995437;
  border-radius: 15px;
  box-shadow: 3px 3px 5px 1px #995437;
  color: #995437; }

/* Main menu */
nav {
  background: rgba(127, 127, 127, 0.5);
  position: relative; }
  nav .wrapper {
    padding: 0px 40px; }

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 75px; }

.menu-item a {
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 25px;
  background: transparent;
  transition: .6s ease-out;
  font-weight: 700; }
  .menu-item a:hover {
    color: #212121;
    background: #86746c;
    border-bottom: 1px solid #995437; }

/* Fixed menu */
.headhesive {
  position: fixed;
  width: 100%;
  transform: translateY(-100%);
  transition: .6s ease-in;
  z-index: 2;
  height: 50px; }
  .headhesive .main-menu {
    height: 50px; }
    .headhesive .main-menu a {
      padding: 10px; }

.headhesive--stick {
  transform: translateY(0); }

/* Main photo */
.main_photo {
  height: 910px;
  background: #7f7f7f url(../img/main_bg.png) no-repeat -300px -79px; }
  .main_photo .wrapper {
    text-align: left;
    height: 100%;
    position: relative; }
  .main_photo .greetings {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .main_photo h1 {
    font-size: 74px;
    line-height: 90px;
    font-family: "Noticia Text", serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .main_photo .branded {
    color: #995437; }
  .main_photo .appointment-link {
    display: inline-block;
    font-size: 30px;
    padding: 25px 30px;
    color: #ffffff;
    border: 1px solid #995437;
    margin-top: 50px;
    text-transform: capitalize; }

/* Modal */
.modal {
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  perspective: 500px; }
  .modal .fa-window-close {
    position: absolute;
    right: 10%;
    top: 15%;
    color: #7f7f7f;
    cursor: pointer; }
    .modal .fa-window-close:hover {
      color: #ffffff; }
  .modal .wrapper {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    /* Animation of modal window */
    transform: rotateX(0deg);
    animation-name: modal;
    animation-duration: .8s;
    transform-origin: top center; }

@keyframes modal {
  from {
    opacity: 0;
    transform: rotateX(-90deg); }
  to {
    opacity: 1;
    transform: rotateX(0deg); } }
    .modal .wrapper .appointment-form {
      padding: 20px; }
      .modal .wrapper .appointment-form textarea {
        height: 80px; }
      .modal .wrapper .appointment-form .appointment-form input, .modal .wrapper .appointment-form .appointment-form select, .modal .wrapper .appointment-form .appointment-form textarea {
        margin-bottom: 20px; }
      .modal .wrapper .appointment-form .appointment-form #submit {
        padding: 5px;
        font-size: 15px; }

.show-modal {
  display: flex; }

.hide-modal {
  animation-name: hideModal;
  animation-duration: .9s;
  transform-origin: top center; }

@keyframes hideModal {
  from {
    opacity: 1;
    transform: rotateX(0deg); }
  to {
    opacity: 0;
    transform: rotateX(-90deg); } }

/* Burger */
.hamburger-container {
  display: none;
  vertical-align: middle;
  padding: 10px; }

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  height: 32px;
  width: 32px;
  margin-left: -15px;
  z-index: 4;
  padding: 0;
  border: 0; }

.hamburger {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative; }

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: #995437;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute; }

.bar1 {
  top: 0; }

.bar2,
.bar3 {
  top: 13.5px; }

.bar3 {
  right: 0; }

.bar4 {
  bottom: 0; }

/* HAMBURGER 2 */
.checkbox2:checked + label > .hamburger2 > .bar1 {
  transform: translateX(40px);
  background-color: transparent; }

.checkbox2:checked + label > .hamburger2 > .bar2 {
  transform: rotate(45deg); }

.checkbox2:checked + label > .hamburger2 > .bar3 {
  transform: rotate(-45deg); }

.checkbox2:checked + label > .hamburger2 > .bar4 {
  transform: translateX(-40px);
  background-color: transparent; }
